* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.dashboar{
    display: flex;
    flex-direction: row;
    height: 100vh;
}

.barra-lateral {
    display: flex;
    padding: 20px;
    width: 25%;
    justify-content: flex-start;
  
}
.conteudo-principal {
    display: flex;
    padding: 20px;
    width: 75%;
    justify-content:flex-end ;
   
   
}
